GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:5174/auth/google/callback
CLIENT_URL=http://localhost:5173/
PORT=5174
